
    body
    {
      background-image: url(https://source.unsplash.com/1600x900/?landscape);
      background-size: cover;
    }
    nav.navbar.navbar-expand-md.navbar-dark {
        background-color: #000000d0;
    }


    .boxy
     {

        background: #000000d0;
        color: white;
        border-radius: 10px;
        font-family: 'Bitter', serif;

    }

    .carousel_temp
     {
        text-align: center;
        color: white;
        border-radius: 10px;
        height : 70px;
        width: 100%;
        font-family: 'Bitter', serif;
    }

    .top_carousel
    {
      text-align: center;
      background: #000000d0;
      color: white;
      border-radius: 10px;
    }

    nav.navbar.navbar-expand-md.navbar-dark {
        font-family: 'Bitter',serif;
    }

    .form-container{
        position:absolute;
        top:15vh;
        background:#000000d0 ;
        color: white;
        padding:40px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
        font-family: 'Bitter', serif;
        }

    #login{
        text-align: center;
        font-size: 30px;
    }
